* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eab5f0;
    background-image: linear-gradient(315deg, #d079da 0%, #3395db 74%);
    background-attachment: fixed;
    background-size: cover;
}
